



<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/homenavbar.ejs') %>
    


  
      
    <div class="container mt-5 ">
        
        <div class="card mb-3">

            <div class="card-header">
                <h4><%= article.title %></h4>
            </div>

            <div class="card-body img-fluid">

               <%- article.body %>
            </div>

        </div>
    
    
    </div>
</body>

<%- include ('partials/header.ejs') %>